name: Build
on: 
    push:
        tags:
            - 'v*'

permissions:
    contents: write

jobs:
    go-release:
        runs-on: [self-hosted, linux]
        steps:
            - uses: actions/checkout@v4
              with:
                fetch-depth: 0
            - uses: actions/setup-go
              with:
                go-version-file: 'go.mod'
                cache: true
